.login_section {
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 200px 0;
}
.register_bg{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.login_content {
    background: var(--primary-color-3, #FFF);

    /* S/1 */
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.03);
    padding: 30px;
}

.login_content h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.login_content h6 {
    font-size: 16px;
}

.login_content p {
    font-size: 18px;
}

.social_login {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 60px;
}

.google {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #F2F6FC;
    padding: 12px 16px;
}

.social_media {
    display: flex;
    align-items: center;
    gap: 16px;
}

.social_media img {
    border-radius: 10px;
    background: #F2F6FC;
    padding: 10px;
}

.login-btn {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 1000px;
    padding: 19px 180px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
    background: #F5CA56;
    color: #191F26;
}

.login-btn:hover {
    background: #2EB6B8;
    color: #ffffff;
}

.account_type {
    border-radius: 1000px;
    border: 1px solid #F2F6FC;
    background: #F7F9FC;
    padding: 14px 18px;
}


@media (max-width: 1330px){
    .login_section {
        /* margin: 0 auto; */
        display: grid;
    }
}

@media (max-width: 500px){
    .register_bg{
        width: 80%;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .login_content h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .login_content h6 {
        font-size: 14px;
    }
    
    .login_content p {
        font-size: 16px;
    }
    .social_login {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 30px;
    }

    .social_media img {
        border-radius: 10px;
        background: #F2F6FC;
        padding: 10px;
        width: 30%;
    }
    
    .google {
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 10px;
        background: #F2F6FC;
        padding: 12px 16px;
        font-size: 16px;
    }
    .google img{
        width: 10%;
    }
    
    .social_media {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .account_type {
        border-radius: 1000px;
        border: 1px solid #F2F6FC;
        background: #F7F9FC;
        padding: 12px 14px;
        font-size: 14px;
    }
}